<h1> My First Sinatra<h1>
<p>
	
	<h2> Hi, my name is John Conley. I like long walk on the beach, good books and heroin. </h2>
</p>




<% if Date.today.tuesday?%>
<p>
	Izzy Ironside is <strong>NOT</strong>
	a fan of Tuesdays like today.
</p>
	<%end%>
<p> 
	Izzy Ironside was born on 
	<%= Date.today %>.
</p>